@model List<ProductVM>

<div class="row justify-content-between mt-4">
    <div class="col-4">
        <h4>Products</h4>
    </div>
    <div class="col-4 text-end">
        <a href="/Product/AddEdit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Create New</a>
    </div>
</div>
<hr />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td style="width:220px">
                    <a href="/Product/AddEdit/@product.ProductId" class="btn btn-warning"><i class="fa-solid fa-pen"></i></a>
                    <button class="btn btn-danger"
                            data-name="@product.Name"
                            data-id="@product.ProductId"
                            onclick="deleteItem(this)">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

<script>
    function deleteItem(btn){
        const name = btn.getAttribute("data-name");
        const id = btn.getAttribute("data-id");

        if(confirm("Do you want to delete " + name + "?")){
            window.location.href = '@Url.Action("Delete", "Product")' + '?id=' + id;
        }
    }
</script>